.admin-main {
  background-color: #fafafa;
  color: #2e2e2e;
}

.admin-header {
  background-color: #ededed;
  border-bottom: 2px solid #cecece;
}

.admin-sidebar {
  background-color: #ededed;
  border-right: 2px solid #cecece;
  color: #2d2d2d;
}

.admin-input {
  background-color: #ededed;
  color: #2d2d2d;
}

@media (prefers-color-scheme: dark) {
  .admin-main {
    background-color: #121212;
    color: #fafafa;
  }

  .admin-header {
    background-color: #171717;
    border-bottom: 2px solid #2e2e2e;
  }

  .admin-sidebar {
    background-color: #171717;
    border-right: 2px solid #242424;
    color: #fafafa;
  }

  .admin-input {
    border-color: #242424;
    background-color: rgb(30, 30, 30);
    color: #fafafa;
  }
}
