.social li {
  color: white;
  border-radius: 100%;
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li * {
  height: 2rem;
  width: auto;
}

.social li:hover {
  background-color: white;
  color: #212529;
  cursor: pointer;
}
